.footer {
  &-bg {
    background-color: rgb(71, 156, 210);
  }

  &-img {
    margin-bottom: -4px;

    img {
      width: 100%;
      height: 450px;
      object-fit: cover;
      display: block;
    }
  }

  &-info {
    display: grid;
    grid-template-columns: 180px 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px 0px 60px;
  }

  &-info-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-title {
      font-size: 22px;
      font-weight: 600;
      color: white;
      padding-bottom: 12px;
    }

    &-text {
      font-size: 16px;
      font-weight: 500;
      color: #eee;

      &-number {
        display: flex;
        flex-direction: column;
        color: #eee;
        gap: 5px;
      }

      &-address {
        display: flex;
        flex-direction: column;
        color: #eee;
        gap: 5px;
      }

      &-email {
        display: flex;
        flex-direction: column;
        color: #eee;
        gap: 5px;
      }

      &-span {
        font-size: 14px;
        font-weight: 400;
        color: #eee;
      }
    }

    &-form {
      display: flex;
      flex-direction: column;
      gap: 12px;

      input {
        padding: 8px;
        border: 1px solid white;
        outline: none;
      }

      &-btn {
        padding: 8px;
        font-size: 14px;
        background-color: rgb(152, 201, 54);
        color: white;
        border: none;
        border-radius: 2px;
      }
    }
  }

  @media (max-width:1050px) {
    &-info {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
    }
  }

  @media (max-width:500px) {
    &-info {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
    }

    &-img img {
      height: 300px;
    }

    &-info-item-title {
      padding-bottom: 0px;
    }

    &-info-item {
      gap: 5px;
    }

    &-info-item-form {
      padding-top: 10px;
    }
  }
}

.arrow {
  display: none !important;
}

.country-list {
   width: 270px !important;
}

.form-control {
  border-radius: 0px !important;
}

.react-tel-input  {
   margin-bottom: 0px !important;
}

.form-control  {
   height: 37px !important;
}