.singleLoading {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  gap: 40px;
  padding-top: 40px;

  &__card {
    display: grid;
    grid-template-rows: 1fr 120px;
    grid-gap: 20px;
  }

  &__card-imgs {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;

    img {
      width: 100%;
      height: 120px;
      border-radius: 10px;
    }
  }

  &__img {
    width: 100%;
    height: 500px;
    border-radius: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &-btns {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__title {
    width: 90%;
    height: 46px;
    margin-top: 10px;
    text-align: center;
    border-radius: 4px;

    &-four {
      height: 46px;
      margin-top: 10px;
      text-align: center;
      width: 40%;
    }

  }
}

.bg__anim {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200%;
  animation: loadingSingle 1s linear 0s infinite;
}

@keyframes loadingSingle {
  to {
    background-position: 200%;
  }
}

@media (max-width: 1200px) {
  .singleLoading {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (max-width: 740px) {
  .singleLoading {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}

@media (max-width: 740px) {
  .singleLoading {
    &__img {
      height: 300px !important;
    }

    &__info {
      gap: 5px;
    }

    &__title {
      height: 25px;
    }

    &__card {
      padding: 10px;
      gap: 8px;
    }
  }
}