@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 70%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 650px) {
  .container {
    width: 90%;
  }
}
