.information {
  padding: 80px 0px;
  background: url(../../assets/img/inforbg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  &__left {
    width: 80%;

    @media (max-width:1580px) {
      width: 100%;
    }

    &-top {
      display: flex;
      align-items: start;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-title {
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        padding-bottom: 20px;
      }

      &-desc {
        font-size: 16px;
        line-height: 22px;
        font-weight: 600;
        color: rgb(255, 254, 254);
      }
    }

    &-btns {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 30px 0px;

      &-right,
      &-left {
        padding: 16px 20px;
        width: 220px;
        font-size: 15px;
      }

      &-left {
        background-color: white;
        border: 1px solid white;
        border-radius: 2px;
      }

      &-left:hover {
        background-color: transparent;
        color: white;
        transition: .5s;
      }

      &-right {
        border: 1px solid white;
        background-color: transparent;
        color: white;
        border-radius: 2px;
      }

      &-right:hover {
        background-color: white;
        color: #0b254d;
        transition: .6s;
      }
    }

    &-top__text {
      font-size: 20px;
      font-weight: 400;
      color: white;
    }

    &-top__title {
      font-size: 30px;
      font-weight: 500;
      color: white;
    }
  }

  &__right {
    padding: 40px;
    background: rgba(71, 156, 210, 0.4);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 15px;
    transition: .6s;

    &__top {
      padding: 10px 0px;

      &-title {
        font-size: 20px;
        letter-spacing: 0.5px;
        color: white;
        font-weight: 400;
      }

    }

    &-boxs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 50px 0px;
    }

    &-box {
      display: flex;
      flex-direction: column;
      gap: 2px;

      &-title {
        font-size: 62px;
        color: rgb(218, 217, 217);
      }

      span {
        font-size: 16px;
        color: rgb(218, 217, 217);
      }
    }

    &:hover {
      box-shadow: 1px 1px 20px white;
      transform: scale(1.02);
    }
  }

  @media (max-width: 1125px) {
    &__container {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
  }

  @media (max-width: 500px) {
    &__right-box-title {
      font-size: 40px;
    }

    &__right-box {
      span {
        font-size: 12px;
      }
    }

    &__left-btns {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;

      button {
        width: 200px;
        padding: 12px 20px;
      }
    }
  }

  @media (max-width: 450px) {
    padding: 30px 0px;

    &__left-btns {
      flex-direction: column;
      align-items: flex-start;
    }

    &__right {
      padding: 20px;
    }

    &__right-box-title {
      font-size: 30px;
    }

    &__right-boxs {
      padding: 20px 0px;
    }

    &__left-top__text {
      font-size: 14px;
    }

    &__left-top__title {
      font-size: 20px;
    }

    &__left-bottom-title {
      font-size: 16px;
    }

    &__left-bottom-desc {
      font-size: 14px;
      line-height: 22px;
    }

    &__left-top {
      padding-bottom: 10px;
    }

    &__left-bottom-title {
      padding-bottom: 10px;
    }
  }
}