.catalogLoading {
    &__wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: flex-start;
        gap: 30px 5px;
        padding-bottom: 30px;
    }

    &__img {
        width: 100%;
        height: 220px;
        border-radius: 4px;

        clip-path: polygon(8% 0%,
                100% 0%,
                92% 100%,
                0% 100%);
    }

    &__item {
        border-radius: 5px;
    }

    &__title {
        height: 20px;
        margin-top: 10px;
    }

    &__title:last-child {
        width: 70%;
    }
}

.bg__animation {
    background: linear-gradient(90deg, #eee, #ddd, #eee);
    background-size: 200%;
    animation: bgMove 1s linear 0s infinite;
}

@keyframes bgMove {
    to {
        background-position: 200%;
    }
}

@media (max-width: 1200px) {
    .catalogLoading__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .catalogLoading__wrapper {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}