.filter {
    background: url(../../assets/img/filter.webp);
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;

    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 40px;
        background-attachment: fixed;
    }

    &-info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            font-size: 28px;
            color: white;
            font-weight: 500;
            line-height: 34px;
        }

        &-text {
            font-size: 18px;
            font-weight: 400;
            color: white;
            line-height: 26px;
        }
    }

    &-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 30px;
        background: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px);
        border-radius: 15px;
        border: 1px solid #aaa5;

        select {
            padding: 10px;
            outline: none;
            border: 1px solid #aaa3;
            border-radius: 4px;
            background-color: transparent;
            color: white;
            font-weight: 600;
            border: 1px solid white;
        }

        &-show-btn {
            background-color: rgb(71, 156, 210);
            color: white;
            font-weight: 600;
            border: 1px solid rgb(71, 156, 210);
            border-radius: 4px;
        }

        &-clear-btn {
            background-color: white;
            border: 1px solid white;
            color: black;
            padding: 10px;
            border-radius: 4px;
        }
    }
}